<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <title>PRODUCTOS | WINEDERFUL</title>
        <script defer src="/js/pagination.js"></script>
    </head>
    <body class="body-index">
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="searchDesk">
                <form action="/productos/buscar" method="GET">
                    <input name="search" type="text" />
                    <i class="fas fa-search"></i>
                </form>
            </div>
            <div class="title-cont">
                <div class="subtitle bestSeller">
                    <div class="background-text"></div>
                    <h2 class="wine">TODOS LOS VINOS</h2>
                    <img class="hand" src="/images/hand-01.png" alt="hand" />
                </div>

                <%-include("../partials/pagination.ejs",{pagsNmbr: pagsNmbr})%>
            </div>
             <%if(pagsNmbr > 1) {%>
            <form id="items-qtty-form" action="/productos" method="GET">
                <!-- <label id="items-qtty-label" for="itemsPerPage">Mostrar </label> -->
                <select name="itemsPerPage" id="itemsPerPage">
                    <option  selected value="10">10</option>
                    <option  value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </form>
            <% } %> 
            <section class="showAll">
                <% products.forEach((product,i)=>{%> <%-
                include("../partials/productItem", {product: product}) %> <%})
                %>
            </section>
            <%-include("../partials/pagination.ejs", {pagsNmbr: pagsNmbr})%>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
