<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("./partials/head.ejs") %>
    <title>HOME | WINEDERFUL</title>
</head>

    <body class="body-index">
        <%- include("./partials/header.ejs")%> 
            <main>
                <div class="overflow">
                    <div class="slideshow">
                        <div>
                            <img
                                src="/images/slider/sliderUno.png"
                                alt=""
                            />
                        </div>
                        <div>
                            <img
                                src="/images/slider/sliderDos.png"
                                alt=""
                            />
                        </div>
                        <div>
                            <img
                                src="/images/slider/sliderTres.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                 
                <div class="subtitle">
                    <div class="background-text"></div>
                    <% if(!bsproducts) { %>
                        <h2>Recomendados</h2>
                    <% }else{ %> 
                        <h2>Los más vendidos</h2>
                    <% } %> 
                </div>
                <section class="sliderContainer">
                    
                    <div class="overflow">
                        <div class="slider">
                            <% if(!bsproducts) { %>
                                <% for (let i = 0; i < allProds[0].length; i++) { const prod = allProds[i] %>
                                
                                    <%- include("./partials/productItem.ejs", {product: prod}) %>
                                    
                                <%  } %>    
                            <% }else{ %> 
                                <% for (let i = 0; i < bsproducts.length; i++) { const bsproduct = bsproducts[i] %>
                                        <%- include("./partials/productItem.ejs", {product: bsproduct}) %>
                                <%  } %>
                            <% } %>

                        </div>
                    </div>
                    
                </section>
                
                <div class="subtitle ">
                    <div class="background-text"></div>
                    <h2>¿Por qué elegirnos?</h2>
                </div>
                <section class="values">
                    <article class="value">
                        <div class="value-img-box">
                            <img src="images/value.png" alt="" />
                        </div>
                        <div class="value-text-box">
                            <h2>valor</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing
                            </p>
                        </div>
                    </article>
                    <article class="value">
                        <div class="value-img-box">
                            <img src="images/value.png" alt="" />
                        </div>
                        <div class="value-text-box">
                            <h2>valor</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing
                            </p>
                        </div>
                    </article>
                    <article class="value otro">
                        <div class="value-img-box">
                            <img src="images/value.png" alt="" />
                        </div>
                        <div class="value-text-box">
                            <h2>valor</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing
                            </p>
                        </div>
                    </article>
                </section>
            </main>
            <%- include("./partials/footer.ejs") %> 
        </section>
    </body>
</html>
