<%let id = (user.addresses.length > 0) ? user.addresses[i].id : "" %>

<div class="modal-container" data-id="<%=id%>" id="newAddress-modal-<%=i%>">
    <div class="myModal">
        <button class="close-btn">
            <i class="fa fa-times"></i>
        </button>
        <div  class="modal-header hide edit-hder"><h3>Editar Dirección</h3></div>
        <div  class="modal-header hide new-hder"><h3>Nueva Dirección</h3></div>
         
        <div class="mod-content">
            <form
                action=""
                method="POST"
                class="modal-form"
            >
                <div>
                    <label for="street">Calle </label>
                    <input
                        name="streetName"
                        type="text"
                        id="streetName-<%=i%>"
                        placeholder=<%=streetName%>
                        value=<%=streetName%>
                    />
                </div>
                <div>
                    <label for="streetNumber">Número</label>
                    <input
                        name="streetNumber"
                        type="text"
                        id="streetNumber-<%=i%>"
                        placeholder=<%=streetNumber%>
                        value=<%=streetNumber%>
                    />
                </div>
                <div>
                    <label for="apartment">Departamento</label>
                    <input
                        name="apartment"
                        type="text"
                        id="apartment-<%=i%>"
                        placeholder=<%=apartment%>
                        value=<%=apartment%>
                        
                    />
                </div>
                <div>
                    <label for="city">Ciudad</label>
                    <input name="city" type="text" id="city-<%=i%>" value=<%=city%> placeholder=<%=city%> />
                </div>
                <div>
                    <label for="zipCode"> Código Postal: </label>
                    <input
                        name="zipCode"
                        type="text"
                        id="zipCode-<%=i%>"
                        placeholder=<%=zipCode%>
                        value=<%=zipCode%>
                    />
                </div>
                <button type="submit" class="submit-btn">Guardar</button>
            </form>
        </div>
    </div>
</div>



