
<section id="personal-data" class="action">
    <div class="profile-right personal-data">
        <div>
            <div class="personal-info">
                <div class="background-text"></div>
                <h2>Datos personales</h2>
            </div>
            <div class="profile-data">
                <div class="profile-name">
                    <% if(user.cuit){ %>
                    <p>Nombre de la bodega</p>
                    <p><%= user.cellarName %></p>
                    <%} else {%>
                    <p>Nombre</p>
                    <p><%= user.firstName %> <%= user.lastName %></p>
                    <% } %>
                </div>
                <div>
                    <p>E-mail</p>
                    <p><%= user.email %></p>
                </div>
                <div>
                    <p>Contraseña</p>
                    <button type="button" class="" id="change-pass-btn">
                        Cambiar contraseña
                    </button>
                </div>
            </div>
        </div>
        
        <div class="modal-container" id="pass-screen">
            <div class="myModal" >
                <button class="close-btn">
            <i class="fa fa-times"></i>
        </button>
        <div  class="modal-header "><h3>Cambiar contraseña</h3></div>
            <form
                action="/usuarios/cambioContra/<%=user.id%>"
                method="POST"
                id="change-pass-form"
                class="form"
            >
                <label for="actualPassword">Ingrese su contraseña actual</label>
                <input type="password" id="actualPassword" name="password" />
                <label for="newPassword">Ingresé su nueva contraseña</label>
                <input type="password" name="newPassword" id="newPassword" />
                <label for="confirmNewPassword">Confirme su nueva contraseña</label>
                <input
                    type="password"
                    name="confirmNewPassword"
                    id="confirmNewPassword"
                />
                <div class="submit-btn-cont">
                    <button disabled type="submit" class="button create">
                        Cambiar contraseña
                    </button>
                    <p class="disable-msg">
                        Complete todos los campos para habilitar el envío
                    </p>
                </div>
            </form>
        </div>
    </div>    
</section>
