<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <title>INICIAR SESION | WINEDERFUL</title>
        <script type="text/javascript" src="/js/validations/validator.min.js"></script>
         <script defer src="/js/validations/validationFunctions.js"></script>
        <script defer src="/js/validations/login.js"></script>
    </head>

    <body>
        <%- include("../partials/header.ejs") %>
        <main class="login-main">
            <section class="form-register">
                <h2 class="padding">Inicia sesión</h2>
                <% if (typeof errorMsg !== 'undefined') { %>

                <p class="error"><%= errorMsg %></p>

                <% } %> <% if (typeof errors !== 'undefined') { %>
                <ul>
                    <% for (let i = 0; i < errors.length; i++) { %>
                    <li class="error"><%= errors[i].msg %></li>
                    <% } %>
                </ul>
                <% } %>

                <form action="/usuarios/login" class="form" method="POST">
                    <label for="email">E-mail</label>
                    <input
                    id="login-form"
                        type="email"
                        name="email"
                        id="email"
                        placeholder="E-mail"
                    />
                    <label for="password">Contraseña</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Contraseña"
                    />
                    <label for="remember">
                        <input
                            type="checkbox"
                            name="remember"
                            id="remember"
                        />Recuerdame
                    </label>
                    <a class="marginBottom" href="">Olvidé mi contraseña</a>
                    <button type="submit" class="button create">Entrar</button>
                    <a class="marginTop" href="/usuarios/registro"
                        >Crear una cuenta</a
                    >
                    <a class="marginTop" href="/usuarios/registroBodega"
                        >Crear una cuenta empresa</a
                    >
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
